@using MeuLembrete.Core.Model;
@using MeuLembrete.Core.Util;

<details class="container bg-light alerta row">
    <summary class="col-12">Alerta</summary>
    <div class="row">
        <div class=" col-3">
            <label for="tipoRepeticao" class="form-label">Intervalo que quer ser notificado</label>
            <select class="form-select" id="tipoRepeticao" @bind="IntervaloSelecionado">
                @foreach (TipoIntervalo tipoIntervalo in Enum.GetValues(typeof(TipoIntervalo)))
                {
                    <option value="@tipoIntervalo">@tipoIntervalo.ToDescription()</option>
                }
            </select>
        </div>
        <div class="col-3">
            <!-- Exibe para "Todos"-->
            <label for="dataInicial" class="form-label">Data inicial</label>
            <input type="date" class="form-control" id="dataInicial" @bind="Alerta.DataInicio">
        </div>
        <div class="col-3">
            <!-- Exibe para "Todos"-->
            <label for="dataFinal" class="form-label">Data final</label>
            <input type="date" class="form-control" id="dataFinal" @bind="Alerta.DataFim">
        </div>
        <div class="col-3">
            <!-- Exibe para "Todos"-->
            <label for="horaAlerta" class="form-label">Hora</label>
            <input type="time" class="form-control" id="horaAlerta" placeholder="Titulo" @bind="Alerta.Horario">
        </div>
    </div>
    <div class="row">
        <div class="col-3" hidden="@(!exibeDataCompleta)">
            <!-- Exibe para "Não repetir"-->
            <label for="dataAlerta" class="form-label">Data</label>
            <input type="date" class="form-control" id="dataAlerta" @bind="Alerta.Data">
        </div>
        <div class="col-3" hidden="@(!exibeDia)">
            <!-- Exibe para Mensal, Intervalo de meses e Anual-->
            <label for="diaAlerta" class="form-label">Dia</label>
            <input type="number" min="1" max="31" class="form-control" id="diaAlerta" placeholder="Dia do mês" @bind="Alerta.Dia">
        </div>
        <div class="col-3" hidden="@(!exibeIntervaloMeses)">
            <!-- Exibe para Anual-->
            <label for="intervaloMesesAlerta" class="form-label">A cada quantos meses</label>
            <input type="number" min="1" max="99" class="form-control" id="intervaloMesesAlerta" placeholder="Mês" @bind="Alerta.IntervalorMeses">
        </div>
        <div class="col-3" hidden="@(!exibeMes)">
            <!-- Exibe para Anual-->
            <label for="mesAlerta" class="form-label">Mes</label>
            <input type="number" min="1" max="12" class="form-control" id="mesAlerta" placeholder="Mês" @bind="Alerta.Mes">
        </div>
        <div class="col-3" hidden="@(!exibeDiaSemana)">
            <!-- Exibe para Anual-->
            <label for="diaDaSemana" class="form-label">Dia da Semana</label>
            <select class="form-select" id="diaDaSemana" @bind="Alerta.DiaDaSemana" multiple>
                @foreach (DiaDaSemana diaDaSemana in Enum.GetValues(typeof(DiaDaSemana)))
                {
                    <option value="@diaDaSemana">@diaDaSemana</option>
                }
            </select>
        </div>
    </div>
</details>